@page
@model RazorPageSample.Pages.Empty.EmptyWithPageModelModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyWithPageModel</title>
</head>
<body>
</body>
</html>
